<ion-content>
  <div  [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <ion-icon name="arrow-back-outline" class="back-btn" (click)="global.back()"></ion-icon>
    <!-- <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon> -->
    <div class="header-title">Change Password</div>
 </div>
  <div style="margin-top: 50px; padding: 16px;">
  
    <div style="margin-top: 26px;">
      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;"> 
        <img src="assets/images/change_password.webp" style="width:280px"/>
      </div>
      <div class="passwordContainer">
        <ion-input [type]="passwordType" [(ngModel)]="old_password" placeholder="Old Password" class="paswordInput"
          clearOnEdit=false></ion-input>
        <ion-icon item-end [name]="con_passwordIcon" class="passwordIcon" (click)="hideShowPassword('password')"
          class="icon"></ion-icon>
      </div>

      <div class="passwordContainer">
        <ion-input [type]="con_passwordType" [(ngModel)]="password" placeholder="New Password" class="paswordInput" clearOnEdit=false>
        </ion-input>
        <ion-icon item-end [name]="con_passwordIcon" class="passwordIcon" (click)="hideShowPassword('con')"
          class="icon"></ion-icon>
      </div>

      <div class="passwordContainer">
        <ion-input [type]="con_passwordType2" [(ngModel)]="confirmPassword" placeholder="Confirm Password" class="paswordInput" clearOnEdit=false>
        </ion-input>
        <ion-icon item-end [name]="con_passwordIcon2" class="passwordIcon" (click)="hideShowPassword('changePassword')"
          class="icon"></ion-icon>
      </div>

      <!-- <div class="global-button buttonPadding" (click)="global.back()"> -->
      <div class="global-button buttonPadding" (click)="updatePassword()">
        <div>Update Now</div>
        <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>