<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <ion-icon name="arrow-back-outline" class="back-btn" (click)="global.back()"></ion-icon>
    <!-- <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon> -->
    <div class="header-title">Prayer</div>
  </div>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>

  <!-- <div style="margin-top:61px;padding: 6px 12px;"> -->
  <div style="padding: 6px 12px;" *ngIf="!showLoading">
    <img class="image1" *ngIf="chapterDetails?.cover_image" style="object-fit: cover;" src="{{chapterDetails?.cover_image}}" />
  </div>

  <div style="margin: 0 10px; text-align: center;
    font-size: 24px;font-weight: 600;
    letter-spacing: 2px; margin-top: 10px;" 
    *ngIf="!showLoading">{{chapterDetails?.name}}</div>


  <ion-slides *ngIf="!showLoading" class="slider-main" pager="false" (ionSlideDidChange)="ionSlideTouchEnd($event)">
    <!-- <ion-slide  *ngFor="let slider of chaptarDetails" > -->
    <ion-slide *ngIf="prayer_line">
      <div style="display: flex;flex-direction: column;">
        <div class="sliderContent" [innerHTML]="sanitizer.bypassSecurityTrustHtml(prayer_line?.description)"></div>
        <div style="padding-top: 20px;justify-content: center;align-items: center;display: flex;">
          
          <div *ngIf="prayer_line?.sound_file" style=" background-color: rgb(221, 169, 1);padding:6px 8px;border-radius:6px;color: #fff;">
            <div style="display: flex;justify-content: center;align-items: center; flex-direction: row;" 
              *ngIf="!isAudioPlaying" (click)="toggleAudio()">
              <ion-icon name="play-circle-outline" style="font-size: 22px;"></ion-icon>
              <div style="font-size: 15px; margin-left:6px;margin-top: 2px;">Play As Audio</div>
            </div>

            <div style="display: flex;justify-content: center;align-items: center; flex-direction: row;"
               *ngIf="isAudioPlaying" (click)="toggleAudio()">
              <ion-icon name="pause-circle-outline"  style="font-size: 22px;"></ion-icon>
              <div style="font-size: 15px; margin-left:6px;margin-top: 2px;">Stop Audio</div>
            </div>

          </div>
          <audio id="audioPlayer" [src]="audioSource"></audio>

        </div>
      </div>

    </ion-slide>
    
   
  </ion-slides>



  <div style="margin:0 10px;" *ngIf="showLoading">
    <div style="justify-content:center; display: flex;">
        <ion-skeleton-text [animated]="true" class="prayer-img" style="border-radius: 12px;
        height: 245pt;
        width: 100%;"></ion-skeleton-text>
    </div>
    <div style="justify-content:center; display: flex;margin-top: 5px;" *ngFor="let item of [1,1,1,1,1,1,1]">
        <div style="display:flex;flex:1">
          <ion-skeleton-text [animated]="true" style="height: 20px;" ></ion-skeleton-text>
        </div>
    </div>
  </div>

</ion-content>


<ion-footer class="ion-no-border">

  <div class="slider-Pager" *ngIf="!showLoading">
    <div class="section left" (click)="slidePrevious()" *ngIf="previousData != null">
      <div style="display: flex;">
        <div class="custom-btn"><ion-icon name="chevron-back-outline"></ion-icon></div>
        <div class="custom-btn">Prev</div>
      </div>
    </div>

    <div class="section right" (click)="slideNext()"  *ngIf="nextData != null">
      <div style="display: flex;">
        <div class="custom-btn">Next</div>
        <div class="custom-btn"><ion-icon name="chevron-forward-outline"></ion-icon></div>
      </div>

    </div>
  </div>

  <div class="footer-content" style="margin:0 10px;" *ngIf="showLoading">
    <div style="justify-content:center; display: flex;margin-top: 5px;justify-content: flex-end;" *ngFor="let item of [1,1]">
        <div style="display:flex;flex:1">
          <ion-skeleton-text [animated]="true" style="height: 50px;width: 150px;" ></ion-skeleton-text>
        </div>
    </div>
  </div>

</ion-footer>
