.image1 {
    width: 100%;
   // height: 170px;
    object-fit: cover;
    border-radius: 12px;
   }
   
   .slider-main {
    width: 100%;
    ion-slide {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
    }
  }

  .sliderContent{
    font-size: 15px;
    color: var(--dark);
    letter-spacing: 0.5px;
    font-family: 'fontRegular';
    text-align: center;
  }

  .prayer-img{
		border-radius: 12px;
		height: 245pt;
		width: 100%;
	}


  ion-footer {
	//margin-bottom: 6px;

	.slider-Pager {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 12px;
       // padding-bottom: 12px;
		box-shadow: 0px -5px 10px 0px #00000029;
		//background-color: red;
		//margin-bottom: 4px;
        background-color: rgb(2, 2, 2);
        color: var(--primary);
		.section {
			display: flex;
			// justify-content: center;
			justify-content: space-between;
			align-items: center;
			font-size: 15px;
			font-family: 'fontMedium';
			flex:1;
			//color: #72767D;
      color: var(--primary);
			&.left{
				justify-content: flex-start !important;
			}
			&.right{
				justify-content: flex-end !important;
			}
			div {
				margin-top: 3px;
			}

			ion-icon {
				font-size: 16px;
				//color: #72767D;
                color:var(--primary)

			}
			.custom-btn{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}

	.ad-container {
		display: flex;
		justify-content: center;
		align-items: center;
		//margin-bottom: 8px;

		img {
			width: 320px;
		}
	}

}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}