.mainContainer{
    background-color: #e7e7e7;
    //border-radius:30px 30px 0px 0px;
    padding-top:10px;
    height:135px; 
    overflow: scroll!important;
   
}

ion-header {
    ion-toolbar {
		--background:#fff;
        color:#33373A;
    }
}

.notFoundMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
