<ion-content>
  <div  [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
     <!-- <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon> -->
     <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon>
     <div class="header-title">Transaction History</div>
  </div>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="padding-top: '20%';">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

  <!-- <div *ngIf=" loading == false" style="margin-top: 64px;"> -->
    <!-- *ngIf="transaction_history.length > 0" -->
    <div *ngIf="transaction_history.length > 0">
    <div *ngFor="let item of transaction_history; let i = index"
      style="margin:12px;display: flex;flex-direction: column;padding-top: 12px; padding-bottom: 12px;padding-left:16px;border-radius:6px;background-color: #ffffff; box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);" >
      <div
        style="padding:0px 0px;padding-bottom:10px;display: flex; justify-content: space-between; align-items:center;flex-direction: row;color:#99AEA6">
        <div  style="text-transform:capitalize;padding-left: 0px;padding-right: 10px;font-size: 15px;color:#404040;font-weight: 700;">
          Prime Membership
        </div>
        <div style="padding-left: 4px;padding-right: 15px;font-size:14px;text-transform:capitalize; color:#99AEA6">
          <!-- 12th May, 2023 -->
          {{item?.start_at}}
        </div>
      </div>

      <div
        style="display: flex; justify-content: flex-start; align-items: flex-start;flex-direction: row;color:#99AEA6">
        <div style="text-transform:capitalize;color:#1d1d1d;font-size:15px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <!-- Transaction Sucessfull -->
          Amount - <span style="font-weight: bold;">{{'$ ' + item?.amount}}</span>
        </div>
      </div>
      <div
        style="margin-top:6px;display: flex; justify-content:space-between; align-items: center;flex-direction: row;color:#99AEA6">
        <div style="color:#05a371;font-size:14px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <!-- #P2D34567980098 -->
          {{item?.plan_name}}
       </div>
        <img src="assets/images/invoice.png"  style="width:25px;height:25px;margin-right: 12px;" (click)="invoicedetails(item)" />
      </div>
    </div>
  </div>

  <div *ngIf="showSkleton == true && transaction_history.length == 0">
    <div style="margin-top:15px;margin-left: 15px;margin-right: 15px;" *ngFor="let item of [1,1,1]">
      <ion-skeleton-text [animated]="true" style="height:50px;width: 100%; margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
    </div>
  </div>

  <div *ngIf="transaction_history.length == 0" style="opacity: 0.4; display: flex; flex-direction: column; justify-content: center;
  text-align: center; height: 80%;">
    <div style="display: flex;flex-direction: row;justify-content: center;width: 100%;">
      <img src="assets/images/no_data.png" style="width: 70%;" />
    </div>
    <div style="font-size: 18px; font-weight: 600; letter-spacing: 1px;">No history found</div>
  </div>

 

 
</ion-content>