<ion-content padding class="content-background">
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " style="background-color: transparent;" slot="fixed">
    <ion-icon name="arrow-back-outline" class="back-btn" (click)="back()"></ion-icon>
  </div>
  <div class="flex-div">
    <div class="imageContainer">
      <img src="assets/images/5571027.png" class="logo" />
    </div>
    <div class=input-form padding>
      <div class="headingLabel">Create<br> your account</div>

      <div style="margin-top:45px">
        <div class="inputContainer" style="padding-right: 0px;">
          <ion-input type="text" name="name" placeholder='Full Name*' [(ngModel)]="name" class="paswordInput"
            clearOnEdit=false></ion-input>
        </div>

        <div class="inputContainer" style="padding-right: 0px;">
          <ion-input type="email" name="email" placeholder='Email*' [(ngModel)]="email" class="paswordInput"
            clearOnEdit=false></ion-input>
        </div>


        <div style="margin-top: 15px;">
          <ion-select interface="action-sheet" [disabled]="!global.app_globalData?.religions" [interfaceOptions]="customActionSheetOptions" placeholder="Select"
            class="textInput" placeholder="Select Reigion*" [(ngModel)]="religion">
            <ion-select-option [value]="value?.id" *ngFor="let value of global?.app_globalData?.religions;">{{value?.name}}</ion-select-option>
            <!-- <ion-select-option value="2">Muslim</ion-select-option>
            <ion-select-option value="3">Catholic Christian</ion-select-option>
            <ion-select-option value="4"> Non Catholic Christian</ion-select-option> -->
          </ion-select>
        </div>

        <div style="margin-top: 15px;">
          <ion-select [disabled]="!global.app_globalData?.age_groups" interface="action-sheet" [interfaceOptions]="customActionSheetOptions" placeholder="Select"
            class="textInput" placeholder="Select Age Group*" [(ngModel)]="ageGroup">
            <ion-select-option  [value]="ageValue?.id" *ngFor="let ageValue of global?.app_globalData?.age_groups;">{{ageValue?.name}}</ion-select-option>
            <!-- <ion-select-option value="2">Youth ages 13-17</ion-select-option>
            <ion-select-option value="3">Adults ages 18-60</ion-select-option>
            <ion-select-option value="4"> Seniors Ages 60+</ion-select-option> -->
          </ion-select>
        </div>

        <div class="inputContainer">
          <ion-input [type]="passwordType" name="password" [(ngModel)]="password" placeholder='Password*'
            class="paswordInput" clearOnEdit=false>
          </ion-input>
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()" class="icon">
          </ion-icon>
        </div>
      </div>


      <div class="global-button buttonPadding" (click)="gotoRegistration()">
        <div>Register Now</div>
        <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer  class="ion-no-border">
  <div class="dont-have-account-label">Already have an account? <span class="register"
    (click)="global.back()">Login</span>
  </div>
</ion-footer>