<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <!-- <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon> -->
    <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon>
    <div class="header-title">Subscription Plans</div>
  </div>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>
  <!-- <div style="margin-top:76px;padding:0px 6px;"> -->

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="padding-top: '20%';">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="padding:0px 6px;"  *ngIf="!showLoading">
    <div class="card-parent" *ngFor="let item of subscriptionList;let i=index;" (click)="selectedPackage(i,item)">
      <div class="cardMain">
        <div class="plan-name">{{item?.name}}</div>
        <div class="plan-amount">$ {{item?.price}}</div>
        <div class="plan-duration">Duration : {{item?.duration}} Days</div>
      </div>
      <img src="{{i == selectedIndex ? 'assets/images/correct.png' : 'assets/images/next.png'}}" class="next" />
    </div>

    <!-- <div class="card-parent">
      <div class="cardMain">
        <div class="plan-name">Half yearly</div>
        <div class="plan-amount">$ 59</div>
        <div class="plan-duration">Duration : 180 Days</div>
      </div>
      <img src="assets/images/next.png" class="next" />
    </div>

    <div class="card-parent">
      <div class="cardMain">
        <div class="plan-name">Yearly</div>
        <div class="plan-amount">$ 129</div>
        <div class="plan-duration">Duration : 365 Days</div>
      </div>
      <img src="assets/images/next.png" class="next" />
    </div> -->

  </div>



  <div style="margin:0 10px;" *ngIf="showLoading">
		<div style="justify-content:center; display: flex;">
			<ion-skeleton-text [animated]="true" style="height:180px;border-radius:10px"></ion-skeleton-text>
		</div>
		<div style="justify-content:center; display: flex;margin-top: 10px;" *ngFor="let item of [1,1,1,1,1,1,1]">
			<div style="margin-right:10px;">
				<ion-skeleton-text [animated]="true" style="height:50px;width:50px;"></ion-skeleton-text>
			</div>
			<div style="display:flex;flex:1">
				<ion-skeleton-text [animated]="true"></ion-skeleton-text>
			</div>
		</div>


	</div>

	<div *ngIf="subscriptionList?.length == 0 && showLoading == false">
		<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 50%;">
			<img src="assets/images/empty_data.png" style="width: 60%; opacity: 0.3;" />
		</div>
		<div style="text-align: center; font-size: 20px; padding-top: 10px; font-weight: 600; opacity: 0.3;">
			No data found
		</div>
	</div>






  

</ion-content>
<ion-footer class="ion-no-border" style="padding: 12px;">
  <div class="global-button buttonPadding" (click)="buyPlan()">
    <div>Buy Plan</div>
    <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
  </div>
</ion-footer>