.cardMain{
    width: 90%;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 247 222);
    border: 1px dotted #eb9800;
    border-radius: 12px;
    font-family: "fontRegular";
}
.plan-name{
    font-size: 15px;
    color: var(--dark);
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    font-family: 'fontBold';
}
.plan-amount{
    font-size: 34px;
    font-weight: bold;
    color: var(--dark);
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    font-family: 'fontRegular';
}
.plan-duration{
    font-size: 15px;
    font-weight: bold;
    color: var(--dark);
    letter-spacing: 0.5px;
}
.card-parent {
    position: relative;
    width: 100%;
    display: flex;justify-content: center;align-items: center;
    margin-bottom: 21px;
}
.next{
    width: 32px;
    position:absolute;
    right: 28px;
    top: 11px;
}