<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <!-- <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon> -->
    <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon>
    <div class="header-title">{{privacy?.page_title}}</div>
  </div>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>
  
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="padding-top: '20%';">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

  <div [innerHTML]="privacy?.content" style="padding:10px 15px;" *ngIf="privacy"> </div>


  <div *ngIf="!privacy && showSkleton">
    <div style="margin-top:15px;margin-left: 15px;margin-right: 15px;" *ngFor="let item of [1,1,1]">
      <ion-skeleton-text [animated]="true" style="height:50px;width: 100%; margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="height:15px;width: 100%;margin-bottom: 10px;"></ion-skeleton-text>
    </div>
  </div>

  <div *ngIf="!privacy" style="display: flex; flex-direction: column; justify-content: center;
  text-align: center; height: 80%;">
    <div style="font-size: 16px; font-weight: 500; letter-spacing: 0.5px;">No data found</div>
    <!-- <div style="font-size: 20px; padding: 10px 0; font-weight: bold;letter-spacing: 0.5px;" (click)="buyNow()">BUY NOW</div> -->
  </div>



</ion-content>