.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
 width: 100%;
 height: 170px;
 object-fit: cover;
}

.image2 {
  position: absolute;
  top: 104px;
  left: 146px;
  width: 71px;
  border-radius: 50%;
}

.slider-main {
  width: 95%;
  border-radius: 12px;

  ion-slide {
    display: flex;
    flex-direction: column;
  }
}

.flex-div {
  .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.125rem;
      margin-top: 5.312rem
  }

  .listMainContainer {
     // max-width: 450px;
      margin: 0 auto;
      width: 100%;
      padding-top: 0px !important;
      padding: 0 10px;
     // padding-left: 25px;
     // padding-right: 25px;
      letter-spacing: 0.5px;

      .headingLabel {
          font-size: 24px;
          color: var(--dark);;
          letter-spacing: 0.5px;
          text-align: center;
          font-family: 'fontRegular';
          margin-bottom: 2.125rem;
      }

      .itemMain {
          width: 100%;
          padding: 15px 35px 15px 12px;
          background-color: #fff;
          border: 1px solid var(--primary);
          border-radius: 12px;
          margin-top: 1.1rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-height: 75px;

          .loading-icon {
              width: 70px;
              height: 50px;
              border-radius: 50%;
          }

          .itemIcon {
            width: 40px;
            height:40px;
            object-fit: cover;
          }

          .itemContent {
              font-size: 15px;
              font-family: 'fontBold';
              margin-left: 20px
          }

          ;
      }

      .activeItem {
          background-color: var(--light);
          border: 1px solid var(--primary);
          color: var(--primary);;
      }

      .buttonPadding {
          margin-top:4.062rem;
          margin-bottom: 20px;
      }
  }
}

