<ion-content>
	<div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
		<!-- <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon> -->
		<ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon>
		<div class="header-title">Home Page</div>
	</div>
	<!-- custom-spacebar -->
	<div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="padding-top: '20%';">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div *ngIf="!showLoading">
		<ion-slides class="slider-main" pager="false" [options]="slideOptsOne">
			<ion-slide *ngFor="let item of homeData?.banners?.top;">
				<img class="image1" src="{{item?.image}}" />
			</ion-slide>
		</ion-slides>

		<div class="flex-div">
			<div class=listMainContainer>
				<div>
					<div class="itemMain" *ngFor="let prayerItem of homeData?.prayers" (click)="selectChapter(prayerItem)">
						<img src="{{prayerItem?.cover_image}}" class="itemIcon" />
						<div class="itemContent">{{prayerItem?.name}}</div>
					</div>
				</div>
				<div>
				</div>

			</div>
		</div>
	</div>

	<div style="margin:0 10px;" *ngIf="showLoading">
		<div style="justify-content:center; display: flex;">
			<ion-skeleton-text [animated]="true" style="height:180px;border-radius:10px"></ion-skeleton-text>
		</div>
		<div style="justify-content:center; display: flex;margin-top: 10px;" *ngFor="let item of [1,1,1,1,1,1,1]">
			<div style="margin-right:10px;">
				<ion-skeleton-text [animated]="true" style="height:50px;width:50px;"></ion-skeleton-text>
			</div>
			<div style="display:flex;flex:1">
				<ion-skeleton-text [animated]="true"></ion-skeleton-text>
			</div>
		</div>


	</div>

	<div *ngIf="homeData?.length == 0">
		<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 50%;">
			<img src="assets/images/empty_data.png" style="width: 60%; opacity: 0.3;" />
		</div>
		<div style="text-align: center; font-size: 20px; padding-top: 10px; font-weight: 600; opacity: 0.3;">
			No data found
		</div>
	</div>


</ion-content>