<ion-content>
  
  <div class="mainContainer">
    <img class="image1" src="assets/images/prayer.jpeg" />
   
    <div class="title">Let's Pray</div>
    <div class="subtitle">Lorem ipsum dolor sit amet, sem lectus mollis libero, non sodales orci diam molestie tortor.</div>

      <div class="global-button buttonPadding" style="width: 89%;" (click)="getStarted()">
        <div>Get Started</div>
        <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
      </div>
     </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="dont-have-account-label" (click)="gotoLogin()">Do you have account? <span class="register">Login</span>
  </div>
</ion-footer>