ion-content {
    --background: #FFFFFF url("../../../assets/images/bg-2.svg") no-repeat center top / contain fixed;
    background-size: cover;

}



.mainContainer{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
}

  .image1 {
    width: 185px;
    height: 185px;
    border-radius: 50%;
  }
  
.title{
    margin-top: 16px;
    font-size: 25px;
    //font-weight: 800;
    font-family: 'fontBold';
}

.subtitle{
    margin-top: 16px;
    font-size: 15px;
    font-family: 'fontRegular';
    text-align: center;
    padding: 0px 12px;
    color:#797979;
}
  ion-footer {
    background: #fff !important;
    height: 3.437rem;
    border-top: 1px solid #ededf2;

    .dont-have-account-label {
        color: #000000;
        padding: 18px 0;
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .register {
        color: var(--primary);
        font-weight: 600;
        letter-spacing: 1px;

    }
}