<ion-content padding class="global-background" >
  <div class="custom-otp-div">
    <div class="otp-sub-one">
      <div class="otp-main">
        <img src='assets/images/tick.png' style='width:58px;margin-bottom:25px'/>
        <div class="class-verification">Payment Successful</div>
        <div class="class-description">Your subscription sucessfully activated. You can read all prayers </div>
            <div class='btnContainer'>
              <div class="button" (click)="gotoHome()">
                <div style="color:#fff;font-size:15px">Go Home</div>
              </div>
            </div>
      </div>
    </div>
  </div>
</ion-content>