.global-background{
    
    .custom-otp-div{
        display:flex;flex-direction:column;height: 100%;
        .otp-sub-one{
            display: flex;justify-content: center;flex:1;flex-direction: column;
            .otp-main{
                // background: white;
                text-align: center;
                .class-verification{
                    font-size: 22px;
                    padding: 0px 15px 10px 15px;
                    font-weight: 600;
                    color: var(--text-color-primary);
                    text-align:center
                }
                .class-description{
                    color:#8e8d8d;
                    font-size: 15px;
                    text-align:center;
                    padding-right:35px;
                    padding-left:25px;
                    margin-top:10px;
                    font-weight:600;
                    line-height: 17px;
                }
                .btnContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    flex-direction:row;
                    .button{
                        background-color: var(--primary);
                        margin-top:40px;
                        display:flex;
                        justify-content:center;
                        padding:15px;
                        align-items:center;
                        border-radius:5px;
                        width:35%;
                        color:#fff
                    }
                }
    
            }
        }
    
    }
}





