<ion-content padding class="content-background">
  <div class="flex-div">
    <div class="imageContainer">
      <img src="assets/images/5571027.png" class="logo"/>
    </div>
    <div class=input-form padding>
      <div class="headingLabel">Sign in to<br> your account</div>
      <form>
        <div style="margin-top:45px">
          <div class="inputContainer" style="padding-right: 0px;">
            <ion-input type="email" name="email" placeholder='Email*'
              [(ngModel)]="email" class="paswordInput" clearOnEdit=false></ion-input>
          </div>  
          <div class="inputContainer">
            <ion-input [type]="passwordType" name="password" [(ngModel)]="password"
              placeholder='Password*' class="paswordInput" clearOnEdit=false>
            </ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()" class="icon">
            </ion-icon>
          </div>
        </div>
      </form>
      <div class="remember-me-wraper">
        <div class="checkbox-wraper">
        </div>
        <div class="forgotpassword" (click)="goForgotPasw()">Forgot Password</div>
      </div>


      <div class="global-button buttonPadding" (click)="login()">
        <div>Sign in</div>
        <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <!-- <div class="dont-have-account-label">Do you have no account? <span class="register"
      (click)="gotoRegistration()">Registration</span>
  </div> -->
  <div class="dont-have-account-label">New account <span class="register"
    (click)="gotoRegistration()">Registration</span>
  </div>
</ion-footer>