ion-content{
    --ion-background-color:#fff;
  }

  .back-btn {
    color: var(--black);
    font-size: 25px;
}

.textInput{
    border: 1px solid #D9E8E2;
    border-radius: 5px;
    font-size: 15px;
    color: #121F3E;
    margin-top:15px;
    height:50px;
    padding-right:8px;
   
}


.paswordInput{
    font-size: 15px;
    color: #121F3E;
    padding-right:8px;
    letter-spacing: 0.5px;
}
.passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    margin-top: 15px;
    padding-right: 12px;
    height:50px;
    letter-spacing: 0.5px;
}