<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " style="background-color: transparent;" slot="fixed">
    <ion-icon name="arrow-back-outline" class="back-btn" (click)="global.back()"></ion-icon>
  </div>
  <div style="margin-top: 50px; padding: 16px;">
  
    <div style="margin-top: 26px;">
      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;"> 
        <img src="assets/images/forgot-password.jpeg" style="width:280px"/>
      </div>
     

      <div class="passwordContainer">
        <ion-input type="email" [(ngModel)]="email" placeholder="Enter Registered Email*" class="paswordInput" clearOnEdit=false>
        </ion-input>
   
      </div>

      <div class="global-button buttonPadding" (click)="changePassword()">
        <div>Reset Now</div>
        <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>