.prayer-img{
    border-radius: 12px;
    height: 245pt;
    width: 100%;
}

.chapterDes{
    font-size: 16px;
    font-family: 'fontRegular';
    margin-top: 12px;
    line-height: 24px;
}
sup{
    color: var(--primary);
    font-family: 'fontBold';
    margin-right: 2px;
}

.paswordInput {
    font-size: 14px;
    color: var(--dark);
    padding-right: 8px;
    letter-spacing: 0.5px;
    --padding-start:10px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    margin-top: 15px;
    padding-right: 12px;
    height: 50px;
    letter-spacing: 0.5px;
   // width: 40%;
    height: 38px;

}
ion-footer {
    padding: 12px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}