<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <ion-icon name="arrow-back-outline" class="back-btn" (click)="global.back()"></ion-icon>
    <!-- <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon> -->
    <div class="header-title">Prayer</div>
  </div>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>
  <!-- <div style="margin-top:61px;padding: 6px 12px;"> -->

  <div style="padding: 6px 12px;" *ngIf="!showLoading">
    <img src="{{prayerDetails?.cover_image}}" class="prayer-img" style="object-fit: cover;" />
    <div style="
      display: flex;
      flex-direction: row; 
      justify-content: flex-start;
      flex-wrap: wrap;"
    >
      <div class="chapterDes" *ngFor="let item of chaptarDetails,let i=index">
        {{item?.name}}<sup (click)="startReading(item)">
          <!-- {{item?.id}} -->
          {{i+1}}
        </sup> 
      </div>
    </div>
  </div>

  <div style="margin:0 10px;" *ngIf="showLoading">
    <div style="justify-content:center; display: flex;">
        <ion-skeleton-text [animated]="true" class="prayer-img"></ion-skeleton-text>
    </div>
    <div style="justify-content:center; display: flex;margin-top: 5px;" *ngFor="let item of [1,1,1,1,1,1,1]">
        <div style="display:flex;flex:1">
          <ion-skeleton-text [animated]="true" style="height: 20px;" ></ion-skeleton-text>
        </div>
    </div>
  </div>

  <div style="padding-top: 20px;justify-content: center;align-items: center;display: flex;padding-bottom: 20px;">
    <div *ngIf="prayerDetails?.sound_file" style=" background-color: rgb(221, 169, 1);padding:6px 8px;border-radius:6px;color: #fff;">
      <div style="display: flex;justify-content: center;align-items: center; flex-direction: row;" 
        *ngIf="!isAudioPlaying" (click)="toggleAudio()">
        <ion-icon name="play-circle-outline" style="font-size: 22px;"></ion-icon>
        <div style="font-size: 15px; margin-left:6px;margin-top: 2px;">Play As Audio</div>
      </div>

      <div style="display: flex;justify-content: center;align-items: center; flex-direction: row;"
        *ngIf="isAudioPlaying" (click)="toggleAudio()">
        <ion-icon name="pause-circle-outline"  style="font-size: 22px;"></ion-icon>
        <div style="font-size: 15px; margin-left:6px;margin-top: 2px;">Stop Audio</div>
      </div>

    </div>
    <audio id="audioPlayer1" [src]="audioSource"></audio>
  </div>

</ion-content>


<ion-footer class="ion-no-border" style="margin-bottom: 10px;padding-left:20px;padding-right:20px;" *ngIf="chaptarDetails?.length > 0">
  <div class="footer-content" *ngIf="!showLoading">
    <div class="inputContainer" style="padding-right: 0px;margin-top: 0px;"
    [ngStyle]="{'width': quickActionType == 'number' ? '75%' : '40%'}">
    <ion-input type="tel" placeholder='Start at a number' [(ngModel)]="pageNumberEntry" class="paswordInput"
      clearOnEdit=false (ngModelChange)="noType($event)"></ion-input>
    </div>
    <div class="global-button buttonPadding" style="height: 38px;margin-top: 0px;" (click)="goToSpecificIndex()">
      <div>{{quickActionType == '' ? 'Start Over' : 'Go'}}</div>
      <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
    </div>
  </div>

  <div class="footer-content" style="margin:0 10px;" *ngIf="showLoading">
    <div style="justify-content:center; display: flex;margin-top: 5px;" *ngFor="let item of [1,1]">
        <div style="display:flex;flex:1">
          <ion-skeleton-text [animated]="true" style="height: 50px;width: 150px;" ></ion-skeleton-text>
        </div>
    </div>
  </div>
  
</ion-footer>