.header {
    --background: #fff;
}

ion-content {
    --background: #FFFFFF ;
    background-size: cover;

    .back-btn {
        color: var(--black);
        font-size: 25px;
    }
}

.flex-div {
    margin-bottom: 50px;
     margin-top: 65px;
    .input-form {
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        padding-top: 0px !important;
        padding: 0 16px;
       // padding-left: 25px;
      //  padding-right: 25px;
        letter-spacing: 0.5px;

        .headingLabel {
            font-size: 24px;
            font-weight: bold;
            color: var(--dark);
            letter-spacing: 0.5px;
        }

        .subHeading {
            margin-top: 20px;
            font-size: 15px;
            font-weight: 500;
            color: var(--dark);
            letter-spacing: 0.5px;

            .new-option {
                font-weight: 600;
            }
        }

        .textInput {
            border: 1px solid var(--border-dark);
            border-radius: 5px;
            font-size: 15px;
            color: var(--dark);
            margin-top: 1px;
            height: 50px;
            padding-right: 10px;
            letter-spacing: 0.5px;

        }

        .paswordInput {
            font-size: 15px;
            color: var(--dark);
            padding-right: 8px;
            letter-spacing: 0.5px;
            --padding-start:10px;
        }

        .inputContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border: 1px solid var(--border-dark);
            border-radius: 5px;
            margin-top: 15px;
            padding-right: 12px;
            height: 50px;
            letter-spacing: 0.5px;
        }

        .icon {
            height: 25px;
            width: 25px;
            color: var(--border-dark);
        }
    }
}


ion-input {
    --padding-end: 12px;
}

.remember-me-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--dark);
    font-size: 15px;

    .checkbox-wraper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .remember-me-text{
            margin-left:8px;
            margin-top: 4px;
        }
        ion-checkbox{
            --background: var(--border-primary);
            --background-checked:var(--primary);
            --border-color:var(--primary);
            --border-color-checked:var(--primary);
            --size: 20px;
        }
    }

    .forgotpassword {
        // margin-top: 15px;
        text-align: right;
        color: var(--dark);
        font-size: 15px;
    }
}


.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 70px
}
.logo{
   // height: 85px;
    width: 125px;
}

.buttonPadding {
    margin-top: 25px
}

.back-button {
    position: fixed;
    top: var(--verticalPadding);
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    ;
    left: var(--verticalPadding);
    box-shadow: none;
}

ion-footer {
    background: #fff !important;
    height: 3.437rem;
    border-top: 1px solid #ededf2;

    .dont-have-account-label {
        color: #000000;
        padding: 18px 0;
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.5px;
        font-family: 'fontMedium';
    }

    .register {
        color: var(--primary);
        font-weight: 600;
        letter-spacing: 1px;

    }
   
}

.textInput {
    border-bottom: 1px solid var(--border-dark);
    //border-radius: 5px;
    font-size: 15px;
    color: var(--dark);
    margin-top: 1px;
    height: 50px;
    padding-right: 8px;
    letter-spacing: 0.5px;
    padding-left: 10px;

}

.avatar-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.userimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.edit-container {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 0px;
    top: 64px;
    bottom: -5px;
    border-radius: 50%;
    //top: 50px;
    background-color: var(--white);
    border: 1px solid var(--grey-light);
    display: flex;
    justify-content: center;
    align-items: center;

   
}
