<ion-content padding class="content-background">
  <div  [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <!-- <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon> -->
    <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon>
    <div class="header-title">Edit Profile</div>
 </div>
 <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>
  <div class="flex-div">
    <!-- <div class="imageContainer">
      <img src="assets/images/user.png" class="logo" />
    </div> -->

    <div class="avatar-image">
      <div style="position:relative" (click)="uploadProfileImg()">
        <img src="{{imageUrl ? imageUrl : global?.userdetails?.avatar}}"  class="userimg"/>
        <div class="edit-container">
          <img src="assets/images/edit.svg" style="height:16px;width: 16px;" />
        </div>
      </div>
    </div>

    <div class=input-form padding>
    
      <div style="margin-top:5px">
        <div class="inputContainer" style="padding-right: 0px;">
          <ion-input type="text" name="name" placeholder='Full Name*' [(ngModel)]="name" class="paswordInput"
            clearOnEdit=false></ion-input>
        </div>

        <div class="inputContainer" style="padding-right: 0px;">
          <ion-input disabled type="email" name="email" placeholder='Email*' [(ngModel)]="email" class="paswordInput"
            clearOnEdit=false readonly></ion-input>
        </div>


        <!-- <div style="margin-top: 15px;">
          <ion-select interface="action-sheet" [interfaceOptions]="customActionSheetOptions" placeholder="Select"
            class="textInput" placeholder="Select Reigion*" [(ngModel)]="religion">
            <ion-select-option value="jewish">Jewish</ion-select-option>
            <ion-select-option value="muslim">Muslim</ion-select-option>
            <ion-select-option value="catholicchristian">Catholic Christian</ion-select-option>
            <ion-select-option value="noncatholicchristian"> Non Catholic Christian</ion-select-option>
          </ion-select>
        </div>

        <div style="margin-top: 15px;">
          <ion-select interface="action-sheet" [interfaceOptions]="customActionSheetOptions" placeholder="Select"
            class="textInput" placeholder="Select Age Group*" [(ngModel)]="ageGroup">
            <ion-select-option value="4-12">Children ages 4-12 </ion-select-option>
            <ion-select-option value="13-17">Youth ages 13-17</ion-select-option>
            <ion-select-option value="18-60">Adults ages 18-60</ion-select-option>
            <ion-select-option value="above 60"> Seniors Ages 60+</ion-select-option>
          </ion-select>
        </div> -->
        <div style="margin-top: 15px;">
          <ion-select interface="action-sheet" [disabled]="!global.app_globalData?.religions" [interfaceOptions]="customActionSheetOptions" placeholder="Select"
            class="textInput" placeholder="Select Reigion*" [(ngModel)]="religion">
            <ion-select-option [value]="value?.id" *ngFor="let value of global?.app_globalData?.religions;">{{value?.name}}</ion-select-option>
          </ion-select>
        </div>

        <div style="margin-top: 15px;">
          <ion-select [disabled]="!global.app_globalData?.age_groups" interface="action-sheet" [interfaceOptions]="customActionSheetOptions" placeholder="Select"
            class="textInput" placeholder="Select Age Group*" [(ngModel)]="ageGroup">
            <ion-select-option  [value]="ageValue?.id" *ngFor="let ageValue of global?.app_globalData?.age_groups;">{{ageValue?.name}}</ion-select-option>
          </ion-select>
        </div>


      </div>

      <!-- <div class="global-button buttonPadding" (click)="global.back()"> -->
      <div class="global-button buttonPadding" (click)="updateProfile()">
        <div>Update Now</div>
        <ion-icon src="assets/images/right-up.svg" class="back-btn" style="color: #fff;"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer  class="ion-no-border">
  <div class="dont-have-account-label"  (click)="gotoChangePassword()">Change Password</div>
</ion-footer>