
<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-header': 'custom-header' " slot="fixed">
    <!-- <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon> -->
    <ion-icon (click)="global.openMenu()" src="assets/images/menu.svg" class="back-btn"></ion-icon>
    <div class="header-title">My Subscription</div>
  </div>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-custom-space': 'custom-space' "> </div>
  <!-- <div style="margin-top:56px;padding:0px 6px;"> -->
  <div style="padding:0px 6px;" *ngIf="global.subscriptionDetails">
    <div 
    style="padding:0px 12px 4px 12px;display: flex;align-items: center;flex-direction: column;justify-content: center;">
    <!--Premium plan block -->
    <div
      style="background-color:#fff;margin:20px 0px 8px 0px;display: flex;align-items: flex-start;flex-direction: column;padding:15px 12px 15px 12px;width:100%;border:1px solid #E0E8E5;border-radius: 10px;justify-content: center;"
     >
      <div style="display: flex;align-items: flex-start;flex-direction: row;width:100%;justify-content: space-between;">

        <div style="display: flex;align-items: flex-start;flex-direction: row; justify-content: flex-start;">
          <img src="../../assets/images/correct.png" style="width:15px;margin-top: 0px;"  />
          <div style="margin-left:8px">
            <div style="font-size: 16px;color:#000;font-weight: 600;text-transform: capitalize;font-family: 'fontRegular';">
              <!-- Yearly -->
              {{global.subscriptionDetails?.plan_name}}
            </div>
            <div style="font-size: 14px;color:#99AEA6;margin-top:4px;font-family: 'fontRegular';">
              <!-- Duration - 365 Days -->
              Duration - {{global.subscriptionDetails?.duration}} Days
            </div>
            
          </div>
        </div>
        <div>
          <div style="font-size: 18px;color:#000;font-weight: 600;font-family: 'fontRegular';">
            $ {{global.subscriptionDetails?.amount}}
          </div>
          <div style="margin-top:14px;"></div>
        </div>
      </div>
      <div
        style="display: flex;align-items: center;flex-direction: row;justify-content: space-between;margin-top: 11px;width:100%">
        <div style="font-size: 14px;color: #fc5252;margin-top: 21px;">
          <!-- Expire on 12-07-2023 -->
          Expire on {{global.subscriptionDetails?.expiry_at}}
        </div>
        <!-- <div 
          style="display: flex;align-items: center;flex-direction:row;justify-content: center;border-radius: 18px;width:45%;text-align: center; background-color: #16C986;border:1px solid #16C986;color: #ffff;padding: 6px 4px;text-align: center;font-size:13px;margin-top:12px">
          <div>Renew Plan</div>
          <ion-icon name="arrow-forward-outline" style="color: #fff;margin-left:4px"></ion-icon>
        </div> -->
      </div>
    </div>






  </div>

  </div>

  <div *ngIf="!global.subscriptionDetails" style="display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80%;">
    <div style="font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;">No subscription found</div>
    <div style="font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
    letter-spacing: 0.5px;" (click)="buyNow()">BUY NOW</div>
  </div>
</ion-content>
