ion-content {
	--background: #FFFFFF url("../../../assets/images/bg-2.svg") no-repeat center top / contain fixed;
	background-size: cover;

	.back-btn {
		color: var(--black);
		font-size: 25px;
	}
}

.mainContainer {
	margin-top: 85px;

	.desConatiner {
		width: 100%;
		padding: 3.25rem 1.562rem 0px 1.562rem;

		.title {
			font-size: 1.5rem;
			font-family: 'fontRegular';
			text-align: center;
			margin-bottom: 2rem;
			color: var(--dark);
		}

		.optsent {
			font-size: 0.875rem;
			font-family: 'fontRegular';
			text-align: center;
			//margin-bottom: 2rem;
			color: var(--dark);
		}

		.optresent {
			font-size: 0.812rem;
			font-family: 'fontRegular';
			text-align: center;
			margin-bottom: 2rem;
			color: var(--dark);
			margin-top: 1.5rem;

		}

		.input-fields {
			display: flex;
			margin: 0 auto;

			.inputfields {
				width: 100%;
				margin: 25px 5px;
				padding: 0;
				border-bottom: 2px solid var(--border-dark);
				//border-radius: 10px;
				height: 50px;

				&.item-has-focus {
					--highlight-background: none !important;
				}

				&.ion-dirty {
					--highlight-background: none !important;
				}

				&.ion-invalid {
					--highlight-background: none !important;
				}

				.inputsitem {
					text-align: center;
					font-size: 24px;
					font-weight: 600;
					height: 60px;
					color: var(--dark);
					--placeholder-color: var(--border-dark);
				}

				&.item-has-focus {
					border-bottom: 2px solid var(--dark);
				}
			}
		}

		.subHeading {
			margin-top: 4rem;
			font-size: 15px;
			font-weight: 500;
			color: var(--dark);
			letter-spacing: 0.5px;
		}

		.inputContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			border-bottom: 1px solid var(--border-dark);
			//border-radius: 5px;
			margin-top: 15px;
			padding-right: 12px;
			height: 50px;
			letter-spacing: 0.5px;

			.textInput {
				border-radius: 5px;
				font-size: 24px;
				color: var(--dark);
				font-family: 'fontBold';
				margin-top: 1px;
				height: 50px;
				padding-right: 8px;
				letter-spacing: 0.5px;
			}
		}

		.buttonPadding {
			margin: 1.75rem 1.562rem 0.25rem 1.562rem;
		}
	}

}

.pagermain {
	height: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.pager {
		background-color: var(--primary);
		height: 2px;
		width: 33.33%;
	}

	.activePager {
		background-color: var(--black);
		height: 2px;
		width: 33.33%;
	}
}

.logo {
	//height: 85px;
	width: 125px;
}

.paswordInput {
	font-size: 15px;
	color: #121F3E;
	padding-right: 8px;
	letter-spacing: 0.5px;
}

.passwordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border: 1px solid #D5DBE1;
	border-radius: 5px;
	margin-top: 15px;
	padding-right: 12px;
	height: 50px;
	letter-spacing: 0.5px;
}

.inputContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border: 1px solid var(--border-dark);
	border-radius: 5px;
	margin-top: 15px;
	padding-right: 12px;
	height: 50px;
	letter-spacing: 0.5px;
}
.icon {
	height: 25px;
	width: 25px;
	color: var(--border-dark);
}