<ion-content>
  <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-back-button': 'back-button' " (click)="global.back()">
    <ion-icon name="arrow-back-outline" class="back-btn"></ion-icon>
  </div>
  <div class="mainContainer flex-column">
    <img src="assets/images/5571027.png" class="logo" />
    <div class="desConatiner">
      <div class="title">Reset Password 
        <!-- <br><a style="font-size: 0.875rem;color: #1D232A;">(One Time Password)</a> -->
      </div>
      <div class="optsent">Enter the code we've sent via Email to your registered email</div>

      <div class="inputContainer">
        <ion-input [type]="passwordType" name="password" [(ngModel)]="password"
          placeholder='New password*' class="paswordInput" clearOnEdit=false>
        </ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()" class="icon">
        </ion-icon>
      </div>

      <div class="inputContainer">
        <ion-input [type]="passwordType2" name="password" [(ngModel)]="confirmPassword"
          placeholder='Confirm password*' class="paswordInput" clearOnEdit=false>
        </ion-input>
        <ion-icon item-end [name]="passwordIcon2" class="passwordIcon2" (click)="hideShowConfirmPassword()" class="icon">
        </ion-icon>
      </div>

      <div class="passwordContainer">
        <ion-input type="email" [(ngModel)]="otpValue" placeholder="Enter OTP*" class="paswordInput" clearOnEdit=false>
        </ion-input>
      </div>
      
      <!-- <form class="input-fields">
        <ion-item class="inputfields" lines="none">
          <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input1"
            placeholder="" maxlength="1" #a (keyup)="moveFocus(b, $event, a)"></ion-input>
        </ion-item>
        <ion-item class="inputfields" lines="none">
          <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input2"
            placeholder="" maxlength="1" #b (keyup)="moveFocus(c, $event, a)"></ion-input>
        </ion-item>
        <ion-item class="inputfields" lines="none">
          <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input3"
            placeholder="" maxlength="1" #c (keyup)="moveFocus(d, $event, b)"></ion-input>
        </ion-item>
        <ion-item class="inputfields" lines="none">
          <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input4"
            placeholder="" maxlength="1" #d (keyup)="moveFocus(d, $event, c)"></ion-input>
        </ion-item>
      </form> -->
      <!-- <div class="optresent" *ngIf="otpTimer == '0'">I don't not receive OTP <a style="color: #7E6126;" (click)="resendOtp()">Resend</a></div> -->
      <div class="optresent">I don't not receive OTP <a style="color: #7E6126;" (click)="resendOtp()">Resend</a></div>
      <!-- <div class="global-button-icon" style="margin-top:4.062rem;" (click)="otpVerification()" *ngIf="this.otp.input1 != '' && this.otp.input2 != '' && this.otp.input3 != '' && this.otp.input4 != ''">
        <div class="label">Verify & Login</div>
      </div> -->
      <div class="global-button-icon" style="margin-top:4.062rem;" (click)="otpVerification()">
        <div class="label">Reset password</div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
