ion-content {
    --background: var(--white) 
    /*url("../assets/images/bg.svg") no-repeat center top / contain fixed;*/
        background-size: cover;
}

.ios-header-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 15px;
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 60px;
}
.header-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 15px;
    background-color: #F2F2F2;
    width: 100%;
}
.header-des{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:90%
}
.user-img {
  width: 60px;
  height: 60px;
}

.close-container{
    width:10%
}
.name{
    color: var(--black);
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 16px;
    font-family: 'fontMedium';
}
.subtitle{
    color: var(--black);
    margin-bottom: 4px;
    font-size: 14px;
}
.menuArea{
    margin-top: 14px;
}
.menuItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
}
.title{
    color: var(--black);
    font-size: 15px;
    font-family: 'fontMedium';
}
.arrow-btn{
    font-size: 19px;
    color: #8c8b8b;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px 45px 12px;
}
