<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      
      <!-- <div class="header-main"> -->
      <div [ngClass]="global.checkPlatformName() == 'ios' ? 'ios-header-main': 'header-main' ">
        <div class="header-des">
          <!-- <img src="../assets/images/user.png" class="user-img" /> -->
          <img src="{{global?.userdetails?.avatar}}" class="user-img" style="border-radius: 60px;" />
          <div style="margin-left: 12px;">
            <div class="name">{{global?.userdetails?.name}}</div>
            <div class="subtitle" (click)="editProfile()">View and edit profile</div>
          </div>
        </div>
        <div class="close-container">
          <ion-icon name="close-outline" class="back-btn" style="font-size: 28px;"
            (click)="global.closeMenu()"></ion-icon>
        </div>
      </div>

      <div class="menuArea">
        <!-- <div class="menuItem" (click)="goToPage('home-page')"> -->
        <div class="menuItem" (click)="gotoHomeScreen()">
          
          <div class="title">Home</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn"></ion-icon>
        </div>

        <div class="menuItem" (click)="goToPage('subscription')">
          <div class="title">Subscriptions</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn"></ion-icon>
        </div>

        <div class="menuItem" (click)="goToPage('my-subscription')">
          <div class="title">My Subscriptions</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn"></ion-icon>
        </div>

       
        <div class="menuItem" (click)="goToPage('transaction-history')">
          <div class="title">Payment History</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn"></ion-icon>
        </div>

        <div class="menuItem" (click)="goToPage('about')">
          <div class="title">About us</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn" ></ion-icon>
        </div>

        <div class="menuItem" (click)="goToPage('privicy')">
          <div class="title">Privacy Policy</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn" ></ion-icon>
        </div>

        <div class="menuItem" (click)="goToPage('terms')">
          <div class="title">Terms & Conditions</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn" ></ion-icon>
        </div>

        <div class="menuItem" (click)="global.closeMenu()">
          <div class="title">Share App</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn" ></ion-icon>
        </div>


        <div class="menuItem" (click)="goToPage('logout')">
          <div class="title">Logout</div>
          <ion-icon name="chevron-forward-outline" class="arrow-btn"></ion-icon>
        </div>

      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
       <div class="social">
        <ion-icon name="logo-facebook" style="font-size: 20px; margin-right: 18px; color:#A5A5AC"></ion-icon>
        <ion-icon name="logo-instagram" style="font-size: 20px; margin-right: 18px; color:#A5A5AC"></ion-icon>
        <ion-icon name="logo-twitter" style="font-size: 20px; margin-right: 12px; color:#A5A5AC"></ion-icon>
       </div>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>