.paswordInput{
    font-size: 15px;
    color: #121F3E;
    padding-right:8px;
    letter-spacing: 0.5px;
}
.passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #D5DBE1;
    // border-radius: 5px;
    // margin-top: 15px;
    padding-right: 12px;
    height:50px;
    letter-spacing: 0.5px;
    &.hideTopBorder{
        border-top: 0;
    }
    &.hideLeftBorder{
        border-left: 0;
    }
    &.hideTopBottomBorder{
        border-top: 0;
        border-bottom: 0;
    }
}
.card_icon{
    font-size:28px;
}

.genderContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border: 1px solid #D5DBE1;
	// border-radius: 5px;
	// margin-top: 15px;
	// padding-right: 12px;
	height:50px;
	letter-spacing: 0.5px;
	&.hideTopBorder{
			border-top: 0;
	}
	&.hideLeftBorder{
			border-left: 0;
	}
	&.hideTopBottomBorder{
			border-top: 0;
			border-bottom: 0;
	}
}