<ion-content>
  <div>
    <div (click)="close_icon_click()" style="    padding: 10px;
    font-size: 30px;
    text-align: right;" >
      <ion-icon name="close-circle-outline"></ion-icon>
    </div>
  </div>

<div style="padding:0 10px;">
  <div style="padding: 0 10px; font-size: 18px; font-weight: bold;
  letter-spacing: 0.5px; padding-top: 10px; padding-bottom: 10px;" >Add your payment Information</div>
  <div style="padding: 0 10px;">
    <div style="padding: 7px 0;letter-spacing: 0.5px;">Card Information</div>
    <div class="passwordContainer">
      <ion-input type="text" [(ngModel)]="card_name" placeholder="Name on card" class="paswordInput" clearOnEdit=false>
      </ion-input>
    </div>
    <div class="passwordContainer hideTopBottomBorder">
      <ion-input type="tel" maxlength="16" [(ngModel)]="card_number" placeholder="Card number" class="paswordInput" clearOnEdit=false>
      </ion-input>
      <ion-icon item-end name="card-outline" class="passwordIcon" (click)="hideShowPassword('con')"
        class="card_icon"></ion-icon>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: center;">
      <!-- <div style="display: flex;flex-direction: row;justify-content: center;"> -->
        <div class="passwordContainer">
          <ion-input type="tel" maxlength="2" [(ngModel)]="card_month" placeholder="Month" class="paswordInput" clearOnEdit=false>
          </ion-input>
        </div>
        <div class="passwordContainer hideLeftBorder">
          <ion-input type="tel" maxlength="2" [(ngModel)]="card_year" placeholder="Year" class="paswordInput" clearOnEdit=false>
          </ion-input>
        </div>
      <!-- </div> -->
      <div class="passwordContainer hideLeftBorder">
        <ion-input type="tel" maxlength="3" [(ngModel)]="card_cvv" placeholder="CVV" class="paswordInput" clearOnEdit=false>
        </ion-input>
          <img src="assets/images/card-cvv.png" style="height: 28px; padding-left: 5px;" />
      </div>
    </div>
  </div>

  <div style="padding: 0 10px;margin-top: 30px;">
    <div style="padding: 7px 0;letter-spacing: 0.5px;">Billing address</div>

    <ion-item lines="none" no-padding class="genderContainer">
      <ion-label>Country</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="card_country" (ionChange)="changeCountry()">
        <ion-select-option [value]="country?.id" *ngFor="let country of countryLists; let i=index;">{{country?.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item lines="none" no-padding class="genderContainer hideTopBorder" *ngIf="card_country">
      <ion-label>State</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="card_state">
        <ion-select-option [value]="state?.id" *ngFor="let state of stateLists; let i=index;">{{state?.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <div class="passwordContainer hideTopBorder" *ngIf="card_country">
      <ion-input type="text" [(ngModel)]="card_city" placeholder="City" class="paswordInput" clearOnEdit=false>
      </ion-input>
    </div>
    
    <div class="passwordContainer hideTopBorder" *ngIf="card_country">
      <ion-input type="text" [(ngModel)]="card_addredd1" placeholder="Address line 1" class="paswordInput" clearOnEdit=false>
      </ion-input>
    </div>

    <div class="passwordContainer hideTopBorder" *ngIf="card_country">
      <ion-input type="text" [(ngModel)]="card_addredd2" placeholder="Address line 2" class="paswordInput" clearOnEdit=false>
      </ion-input>
    </div>

    <div class="passwordContainer hideTopBorder" *ngIf="card_country">
      <ion-input type="text" maxlength="6" [(ngModel)]="card_zip" placeholder="ZIP code" class="paswordInput" clearOnEdit=false>
      </ion-input>
    </div>
  </div>

  <div style="padding: 0 10px;margin-top: 20px;">
    <div (click)="callStriptPayment()"
    style="height:50px;display: flex;flex-direction: column;justify-content: center;background: #eb9800;border-radius: 5px;">
      <div style="text-align: center;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;color:black;">
        Pay&nbsp;${{current_plan?.price}}
      </div>
    </div>
  </div>
  
  <div style="height:50px;">

  </div>
</div>

</ion-content>
