/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    top: 27%;
    left: 11%;
   
}

.owl-dt-container{
    border-radius: 16px;
}



// FONT USE
@font-face {
  font-family: "fontMedium";
  src: url("/assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "fontBold";
  src: url("/assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "fontRegular";
  src: url("/assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "fontSemiBold";
  src: url("/assets/fonts/Gilroy-SemiBold.ttf");
}

* {
  font-family: "fontRegular";
}

rg-gauge-chart {
  * {
    font-family: "fontBold" !important;
    font-size: 35px;
  }

}

:root {
  --verticalPadding: 16px;
  --primary: #eb9800;
  --border-brown: #C9BA9C;
  --border-primary: #f5f5f5;
  --black: #000;
  --dark: #1D232A;
  --white: #fff;
  --light: #F9F7F2;
  --primary-light: #ECDDBF;
  --light-bg: #F6F6F6;
  --divider-line-light: #DFE2E9;
  --border-light: #D5DBE1;
  --border-dark: #B8B8B8;
  --green: #34BE5A;
  --red: #ff491c;
  --yellow: #ed9f02;
  --grey: #72767D;
  --grey-dark: #4E4A5B;
  --grey-light: #c8c8c8;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-modal {
  --height: 350px;
  --width: 85%;
  --border-radius: 20px;
}

.date-modal {
  --height: 250px;
  --width: 85%;
  --border-radius: 20px;
}

.calender-modal {
  --height: 350px;
  --width: 88%;
  --border-radius: 20px;
}

.rating-modal {
  --height: 390px;
  --width: 88%;
  --border-radius: 20px;
}

.suvey-success-modal{
  --height: 270px;
  --width: 75%;
  --border-radius: 20px;
}

.servey-request-modal{
  --height: 288px;
  --width: 85%;
  --border-radius: 20px;
}

.editInterst-modal {
  --height: 480px;
  --width: 100%;
  align-items: flex-end;
}

.editProfile-modal {
  --height: 580px;
  --width: 100%;
  align-items: flex-end;
  --border-radius: 20px 20px 0px 0px;
}

@media only screen 
   and (max-height : 480px) {
    .editProfile-modal {
      --height: 92%;
      --width: 100%;
      align-items: flex-end;
      --border-radius: 20px 20px 0px 0px;
    }
    
}

.editSequrity-modal {
  --height: 380px;
  --width: 100%;
  align-items: flex-end;
  --border-radius: 20px 20px 0px 0px;
}

.global-button {
  background-color: var(--primary);
  border-radius: 6px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
  font-family: "fontMedium";
  padding: 0 20px;
  margin-top: 30px;
}

.global-button-icon {
  background-color: var(--primary);
  border-radius: 6px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
  font-family: "fontMedium";
  padding: 0 20px;
  margin-top: 30px;

  .label {
    flex: 1;
    text-align: center;
  }
}

.back-button {
  position: fixed;
  top: 16px;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  left: var(--verticalPadding);
  box-shadow: none;
}

.ios-back-button {
  position: absolute;
  top: 38px;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  left: var(--verticalPadding);
  box-shadow: none;
}

.drawer-modal {
  --border-radius: 20px 20px 0px 0px;
  align-items: flex-end;
}

.swiper-slide {
  align-items: flex-start !important;
}

.toast-alert {
  border-radius: 25px;
}

.confrim-alert {

  // .alert-sub-title.sc-ion-alert-ios, .alert-title.sc-ion-alert-ios {
  //   color: var(--primary);
  // }
  .alert-button.sc-ion-alert-ios {
    color: var(--primary);
  }

  // .alert-message.sc-ion-alert-ios{
  //   color: var(--primary);
  // }
}

ion-footer {
  background: #fff !important;
}

.remove-cancelBtn {
  .action-sheet-group-cancel {
    display: none;
  }
}

ion-menu {
  --width: 100%!important;
}

.disable-pointer-events{
  pointer-events: all;
}

.text-shake {
  margin-top: 5px;
  font-size: 14px;
  color: var(--primary);
  text-align: left;
  animation: shake 0.5s;

}

@keyframes shake {
  0% {
      transform: translateX(0)
  }

  25% {
      transform: translateX(5px)
  }

  50% {
      transform: translateX(-5px)
  }

  75% {
      transform: translateX(5px)
  }

  100% {
      transform: translateX(0)
  }
}

.loader-waiting{
  --spinner-color:#7E6126;
  --backdrop-opacity:0;
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }
}

ion-refresher.refresher-native ion-spinner{
  color: #7E6126!important;      
}


.ios-custom-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 15px;
  background-color: var(--primary);
  width: 100%;
  ion-icon {
      font-size: 22px;
      color: var(--white);
      margin-top: 35px;
  }

  .header-title {
      font-size: 17px;
      color: var(--white);
      margin-left: 8px;
      margin-top: 35px;
      font-family: 'fontMedium';
  }
}

.custom-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 12px;
  font-family: 'fontMedium';
  background-color: var(--primary);
  width: 100%;
  ion-icon {
      font-size: 22px;
      color: var(--white);
  }

  .header-title {
      font-size: 17px;
      color: var(--white);
      margin-left: 8px;
      margin-top: 4px;
      font-family: 'fontMedium';
  }
}

.ios-custom-space{
  height:105px;width:100%
}
.custom-space{
  height:61px;width:100%
}
.custom-loading-class{
  .loading-wrapper{
    border-radius: 20px !important;
    padding:10px !important;
  }
}

// ion-moda.my-custom-class {
//   --background: rgb(0 0 0 / 23%);
//   // app-payment-screen.ion-page {
//   //   width: 100%;
//   //   height: 200px;
//   //   position: absolute;
//   //   top: 50%;
//   //   left: 50%;
//   //   // bottom:0;
//   //   transform: translate(-50%, -50%);
//   //   // border-radius: 20px;
//   //   ion-header {
//   //     display: none;
//   //   }

//     // ion-modal {
//       --height: 50%;
//       --border-radius: 16px;
//       --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
//       //  }
//   // }
// }

// .my-custom-class{
//   .modal-wrapper{
//    height: 30%;
//    width: 90%;
//    border-radius: 15px;
//  }}

 ion-modal.my-custom-class {
    --height: 61%;
    // --height: 60% !important;
    --height: 80% !important;
    --border-radius: 10px 10px 0 0 !important;
    position: absolute;
    // bottom: -25%;
    bottom: -12%;

  .modal-wrapper {
  --height: 47% !important;
  --width: 80vw !important;
  --border-radius: 20px !important;	
      position: absolute;
    bottom: 0;
  background-color: white;
  }
}

